.divBtnAdd{
  display: inline-block;
  vertical-align: middle;
  width: 23rem;
  margin: 1em;

}
.btn-add{
  background-color: #FFB400;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
