<h3>Haut du corps</h3>
<div class="entrainementContainer">
    <app-card-exercice></app-card-exercice>
    <app-card-exercice></app-card-exercice>
    <app-card-exercice></app-card-exercice>
    <app-card-exercice></app-card-exercice>
    <app-card-exercice></app-card-exercice>
    <app-card-exercice></app-card-exercice>
    <app-btn-add-exercice></app-btn-add-exercice>
</div>
<h3>Bas du corps</h3>
<div class="entrainementContainer">
    <app-card-exercice></app-card-exercice>
    <app-card-exercice></app-card-exercice>
    <app-card-exercice></app-card-exercice>
    <app-card-exercice></app-card-exercice>
    <app-card-exercice></app-card-exercice>
    <app-card-exercice></app-card-exercice>
    <app-card-exercice></app-card-exercice>
    <app-card-exercice></app-card-exercice>
    <app-btn-add-exercice></app-btn-add-exercice>
</div>
