footer{
  color: #f1f1f1;
  width: 100%;
}

.userLogo{
  color: #FFB400;
}

.userName{
  color: #FFB400;
  font-weight: bold;


}

.float-right{
  float: right;
}

.fond-dark{
  background-color: rgba(0,0,0,.03);
}
