.card{
  margin-bottom: 2em;
}

input{
  float:right;
  background-color:inherit;
  color: white;
  border: 0;
}

textarea{
  margin-top:20px;
  margin-bottom:10px;
  background-color:inherit;
  color: white;
  border: 0;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}
