<div class="card text-white bg-dark col-md-5 shadow">
    <div class="card-header">
      <h3 style="display:inline">S1: </h3>
      <h4 style="display:inline">20/01/18 </h4>

      <div class="col-xs-4" style="display:inline; float:right;">
        <input type="text" name="intensité" value="" class="form-control" placeholder="Intensité"  size="2" >
      </div>

      <textarea class="form-control" rows="3" id="commentaires" placeholder="Commentaires." ></textarea>

      </div>
    <div class="card-body">
        <app-serie></app-serie>
        <app-serie></app-serie>
        <app-serie></app-serie>
        <app-serie></app-serie>
    </div>
    <div class="card-footer">
      <app-btn-add-serie></app-btn-add-serie>
    </div>
</div>
